@import "tailwindcss";
@import "@fontsource/poppins/400.css";  /* Regular */
@import "@fontsource/poppins/500.css";  /* Medium */
@import "@fontsource/poppins/700.css";  /* Bold */

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #0090B8;
  --color-light-primary: #00B8EB;
  --color-secondary: #FF6F61;
  --color-card-bg: #F0F4F8;
  --color-text-white: #F5F5F5;
  --color-text-black: #2B2B2B;
  --color-text-muted: #A3A3A3;
  --color-border: #B3B3B3;
  --color-background: #FAFBFC;
  --color-secondary-button: #EFEFEF;
}

:root {
  --auth-gradient-start: 220 90% 56%; /* Example: blue */
  --auth-gradient-end: 280 80% 60%;   /* Example: purple */
}

body {
  @apply font-sans;
}

@keyframes floatX {
  0%, 100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(150px);
  }
}

.animate-floatX {
  animation: floatX 6s ease-in-out infinite;
}


@keyframes floatY {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-150px);
  }
}

.animate-floatY {
  animation: float 6s ease-in-out infinite;
}


